# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
build/

# Entorno y variables
.env
.env.local
.env.development.local

# Base de datos (evita subir tu data de pruebas)
*.db
*.sqlite
*.sqlite3
mybalance.db

# SO
.DS_Store
Thumbs.db
